<header class="inset-x-0 top-0 z-0 bg-gray-800 fixed">

  <nav class="flex items-center mt-8 ml-8 mr-8 mb-2  gap-x-5 " >
    <div class="text-center">
      <img class="h-20 w-auto" src="https://stankin.ru/bitrix/templates/stankin/images/stankin-logo-main-mono-white-ru-rgb.png" alt="">
    </div>
    
    <a href = "/students" class="text-xl text-white hover:text-gray-500">Студенты</a>
    <a href = "/courses" class="text-xl text-white hover:text-gray-500">Курсы</a>
    <a href = "/enrollments" class="text-xl text-white hover:text-gray-500"> Успеваемость</a>
  </nav>
</header>